*{
margin:0px;
padding:0px;
}
.container{
width:100%
}
.wrapper{
width:900px;
margin:auto;

}
.dark{
background-color:orange;
color:black;
}
.light{

background-color:#e9edf2;

}
#top_left{
display:inline-block;
}
#top_right{
float:right;
}
#top_div{
height:40px;
line-height:40px;
}
#logo_left{
display:inline-block;
}
#logo_right{

float:right;
margin-top:50px;
}
#textstyle{
height:30px;
border-radius:8px;
}
#button{
background-color:green;
color:white;
padding:7px;
border-radius:8px;
width:70px;
border:1px solid green;
}
#clear{
clear:both;
}
ul{
}
ul li{
width:120px;
display:inline-block;
height:35px;
line-height:35px;
text-align:center;
}
ul li a{
color:white;
text-decoration:none;
display:block;
}
ul li a:hover{
background-color:orange;
color:black;
}
#slider_image img{
width:868px;
border:1px solid grey;
padding:15px;
background-color:#eee;
box-shadow: 5px 5px 10px grey;
margin-top:10px;
margin-bottom:10px;
cursor:pointer;
}
h3{
text-align:center;
text-transform:uppercase;
color:red;
}
p{
text-align:justify;
}
#text_image{
width:120px;
margin:auto;
cursor:pointer;
}
#munye{
width:879px;
}
#div_text{
width:260px;
margin:3px;
display:inline-block;
margin-top:15px;
box-shadow: 5px 5px 10px grey;
padding:15px;
margin-bottom:15px;
}
#bottom_left{
display:inline-block;
width:570px;
}
#bottom_left img{
border:1px solid grey;
margin:5px;
padding:5px;
border-radius:8px;
}
#bottom_right{
width:290px;
float:right;
margin-top:15px;
}
#bottom_left_text{
text-align:left;

}
#latest_news img{
height:70px;
width:70px;
margin:3px;
padding:3px;
border:1px solid grey;
border-radius:5px;
}
#latest_news{
height:120px;
}
#footer_section{
width:260px;
margin:3px;
display:inline-block;
margin-top:15px;
padding:15px;
margin-bottom:15px;
}
